{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "public/*.*css",
    "src/styles/wu/*.*css"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true
  }
}
