// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: #54575a;

$pane-bg: rgba(255, 255, 255, 0.91);
$pane-gold: #fcc523;
$pane-dark-gold: #ce9a09;
$pane-dark-gold-2: #fdeeb0;
$pane-green: #298917;
$pane-green-2: #b5d5ab;
$demand-bar: #fc3d09;
$production-bar: #43b94f;

// Fonts
$smm-default-font: proxima-nova, arial, sans-serif;
